# Segredos
.env
.env.*
!.env.example
*.pem
*.key
*.p12
*.jks
*.keystore
key.properties

# Node
node_modules/
dist/
coverage/
*.log

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml
.idea/
app/env/*.json
!app/env/*.example.json

# iOS / Android gerados
**/ios/Pods/
**/ios/.symlinks/
**/android/.gradle/
**/android/local.properties

# SO / editor
.DS_Store
Thumbs.db
.vscode/
